<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="csvQuestionParser" class="ru.otus.homework.util.CSVQuestionParser">
        <property name="fileName" value="questions.csv"></property>
    </bean>
    <bean id="questionDao" class="ru.otus.homework.dao.QuestionDaoImpl">
        <constructor-arg ref="csvQuestionParser"></constructor-arg>
    </bean>
    <bean id="questionService" class="ru.otus.homework.service.QuestionServiceImpl">
        <constructor-arg ref="questionDao"></constructor-arg>
    </bean>
    <bean id = "questionPrinter" class="ru.otus.homework.util.QuestionPrinter" >
        <constructor-arg ref = "questionService"></constructor-arg>
    </bean>


</beans>